/*------------------------------------*\
    #RESPONSIVE
\*------------------------------------*/

/* X-Large devices */
@media (min-width: 1200px) {

}

/* X-Large devices */
@media (max-width: 1200px) { }

/* Large devices */
@media (min-width: 992px) {
    #details-banner-right {
        border-image-source: url(../img/triangle_black.png);
        border-image-slice: 0% 0% 0% 100%;
        border-width: 0px 0px 0px 12px;
    }
    .details-tab-content {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/* Medium devices */
@media(max-width: 992px) {
    .banner__left {
        margin-bottom: 0.5em;
        border-right: none;
    }
    .banner__left:before {
        margin-left: auto;
        margin-right: auto;
    }
    #more-info {
        padding-top: 1em;
    }
}
@media (min-width: 768px) and (max-width: 992px) {

}

/* Small devices */
@media (max-width: 768px) {
    .margin-mobile { 
        margin-left: 15px;
        margin-right: 15px; 
    }
}

/* Extra small devices */
@media (max-width: 500px) {
    .infras__box h2 {
        margin: 0;
    }
    .box__details {
        position: initial;
    }
    .details-banner {
        height: 150px;
    }
}